h2{ 
    color: yellowgreen;
}

.Vegetta777{
    background-color: yellow;
    text-align: center;
}



.libreta{
    margin-left: 5%;
    margin-top: 5%;
}

.carrito{
    text-align: center;
}

.bingo{
    text-align: center;
}